// // Styles for header and navbar

.App-header {
  background-color: #f8f9fa;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
}

// Styles for jumbotron

.jumbotron {
  height: 300px;
  background-color: #007bff;
  color: #fff;
  padding: 2rem;
  margin: 100px 0 50px 0;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  .display-4 {
    font-size: 4rem;
    font-weight: bold;
  }

  .lead {
    font-size: 2rem;
  }
}

// Styles for images

.img-fluid {
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.images-row {
  display: flex;
  flex-wrap: wrap; // add this to wrap the images to the next line if the container is not wide enough
  justify-content: space-between; // add this to distribute the images evenly across the row
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.img-fluid:hover{
  transform: translatey(-4px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
// Styles for text

p {
  font-size: 1.2rem;
  color: #212529;
  line-height: 1.5;
  margin-bottom: 1rem;
}

// Styles for footer

footer {
  background-color: #f5f5f5;
  padding: 40px 0;
  font-size: 16px;
  bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 70px;
  height: 60px;
}

.footer-logo h3 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

.footer-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer-nav li {
  margin-right: 30px;
}

.footer-nav li:last-child {
  margin-right: 0;
}

.footer-nav a {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.footer-nav a:hover {
  color: #a0522d;
}

.footer-social h3 {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.social-icons {
  display: flex;
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.social-icons a:hover {
  background-color: #a0522d;
}

.social-icons a i {
  color: #333;
  font-size: 20px;
  line-height: 40px;
}

footer {
  background-color: #c5b9b9;
}

.footer-bottom {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;

}

.footer-bottom p {
  margin:0;
  padding: 0;
  font-size: 14px;
}

/* Navigation bar */
.nav-Bar {
  position: top;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: opacity($color: #000000);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  padding-left: 1.5em;
  padding-right: 1.5em ;
}

.nav-Bar a {
  text-decoration: none;
  color: #000000;
}

.nav-Bar:hover{
  background-color: opacity($color: #000000);
  transition: 0.3s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 1.9rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #222222;
  text-shadow: 1px 1px #999;
  background-image:  linear-gradient(to right, #11998e, #38ef7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-right: 15%;
}

.nav-links a {
  margin-left: 30px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.2s ease-in-out;
}

.nav-links a:hover {
  text-shadow: 1px 1px #333;
}

.signup-btn {
  display: inline-block;
  text-decoration: none;
  background: #DC143c;
  padding: 15px 40px;
  font-family: "Bungee", sans-serif;
  font-weight: bolder;
  color: #fff;
  box-shadow: 0 8px 0 #ec2053;
  transition: all 0.2s;
  border: none;
  border-radius: 25px;
  height: 20px;
  width: 20px;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.signup-btn:active {
  transform: translateY(4px);
  box-shadow: 0 4px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 1030px) {
  .nav-Bar{
    height: 130px;
  }
}

.challenge-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 1.5rem 0 100px 100px;
  max-width: 500px;
  // border: solid black 2px;

  .challenge {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    border: solid black 2px;

    
    .challenge-title {
      font-size: 14px;
      margin-bottom: 10px;
    }

    .challenge-description {
      font-size: 10px;
      line-height: 1.5;
    }
  }
}

.challenge:hover{
  transform: translatey(-4px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

header {
	background: url('https://runkeeper.com/cms/wp-content/uploads/sites/4/2022/12/Running-Image-12.jpg');
	text-align: center;
	width: 100%;
	height: 550px;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
  margin-bottom: 2.5rem;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 100px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #e31ac869 10%, #2547ad 100%);
	
}

header h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
  margin-right: 100px;
}

header h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
  display: flex;
}

.button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
  margin-right: 100px;
}
.button:hover{
	cursor: pointer;
}



.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-list li {
  display: inline-block;
  margin-right: 10px;
}

.social-list li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: #007bff;
  transition: all 0.3s ease-in-out;
}

.social-list li a:hover {
  background-color: #0056b3;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

$social-button-size: 64px;
$social-button-icon-size: 0.4;
$social-button-background: #fff;
$social-button-active-color: #fff;
$social-button-transition-time: 0.3s;

$social-button-colors: (
  'mail': #0072c6,
  'facebook': #3b5999,
  'github': #6e5494,
  'codepen': #212121,
  'snapchat': #eec900,
  'instagram': #e4405f,
);

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: $social-button-size;
  height: $social-button-size;
  text-decoration: none;
  border-radius: 100%;
  background: $social-button-background;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    top: -1px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: $social-button-transition-time;
  }

  &:focus,
  &:hover {
    color: $social-button-active-color;

    &::after {
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      margin-left: calc(-50% - 1px);
    }
  }

  i,
  svg {
    position: relative;
    z-index: 1;
    transition: $social-button-transition-time;
  }

  i {
    font-size: $social-button-size * $social-button-icon-size;
  }

  svg {
    height: percentage($social-button-icon-size);
    width: percentage($social-button-icon-size);
  }

  @each $name, $color in $social-button-colors {
    &--#{$name} {
      color: $color;

      &::after {
        background: $color;
      }
    }
  }
}

@media screen and (max-width: 1030px) {
  .social-button{
    width: 50px;
    height: 50px;
  }
  i {
    font-size: 16px;
  }
  svg {
    height: 40%;
    width: 40%;
  }
}