.aws-btn {
  --slider-height-percentage: 35%;
  --slider-transition-duration: 553ms;
  --organic-arrow-thickness: 3px;
  --organic-arrow-border-radius: 2px;
  --organic-arrow-height: 21px;
  --organic-arrow-color: #101214;
  --control-button-width: 8%;
  --control-button-height: 26%;
  --control-button-background: transparent;
  --control-bullet-color: #62a4fa;
  --control-bullet-active-color: #538bd5;
  --loader-bar-color: #851515;
  --loader-bar-height: 4px;
}
