.App-header {
  background-color: #f8f9fa;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.jumbotron {
  height: 300px;
  background-color: #007bff;
  color: #fff;
  padding: 2rem;
  margin: 100px 0 50px 0;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.jumbotron .display-4 {
  font-size: 4rem;
  font-weight: bold;
}
.jumbotron .lead {
  font-size: 2rem;
}

.img-fluid {
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.images-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.img-fluid:hover {
  transform: translatey(-4px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

p {
  font-size: 1.2rem;
  color: #212529;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.footer {
  background-color: #1e81e3;
}

.navMenu {
  position: absolute;
  top: 5%;
  left: 52.5%;
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #000000;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 100px;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #ffffff;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #ffffff;
  border-radius: 50%;
  opacity: 0;
  transform: translateX(32px);
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  transform: translateX(45px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  transform: translateX(145px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  transform: translateX(250px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  transform: translateX(345px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.challenge-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 1.5rem 0 100px 100px;
  max-width: 500px;
}
.challenge-grid .challenge {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  border: solid black 2px;
}
.challenge-grid .challenge .challenge-title {
  font-size: 14px;
  margin-bottom: 10px;
}
.challenge-grid .challenge .challenge-description {
  font-size: 10px;
  line-height: 1.5;
}

.challenge:hover {
  transform: translatey(-4px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

footer {
  background-color: #f5f5f5;
  padding: 40px 0;
  font-size: 16px;
  bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 70px;
  height: 60px;
}

.footer-logo h3 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

.footer-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer-nav li {
  margin-right: 30px;
}

.footer-nav li:last-child {
  margin-right: 0;
}

.footer-nav a {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.footer-nav a:hover {
  color: #a0522d;
}

.footer-social h3 {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.social-icons {
  display: flex;
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.social-icons a:hover {
  background-color: #a0522d;
}

.social-icons a i {
  color: #333;
  font-size: 20px;
  line-height: 40px;
}

.footer-bottom {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.footer-bottom p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}/*# sourceMappingURL=app.css.map */