.particle {
  position: absolute;
  border-radius: 50%;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(10vw, 8vh, 21px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.11;
  height: 10px;
  width: 10px;
  animation-delay: -0.2s;
  transform: translate3d(28vw, 60vh, 3px);
  background: hsl(249, 70%, 50%);
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(77vw, 31vh, 73px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.88;
  height: 10px;
  width: 10px;
  animation-delay: -0.4s;
  transform: translate3d(68vw, 49vh, 69px);
  background: hsl(90, 70%, 50%);
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(1vw, 41vh, 18px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.1;
  height: 6px;
  width: 6px;
  animation-delay: -0.6s;
  transform: translate3d(74vw, 1vh, 67px);
  background: hsl(197, 70%, 50%);
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(69vw, 80vh, 54px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.52;
  height: 8px;
  width: 8px;
  animation-delay: -0.8s;
  transform: translate3d(69vw, 4vh, 53px);
  background: hsl(142, 70%, 50%);
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(66vw, 42vh, 50px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.04;
  height: 9px;
  width: 9px;
  animation-delay: -1s;
  transform: translate3d(48vw, 29vh, 54px);
  background: hsl(50, 70%, 50%);
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(33vw, 50vh, 32px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.45;
  height: 6px;
  width: 6px;
  animation-delay: -1.2s;
  transform: translate3d(77vw, 66vh, 56px);
  background: hsl(42, 70%, 50%);
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(4vw, 26vh, 32px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.75;
  height: 6px;
  width: 6px;
  animation-delay: -1.4s;
  transform: translate3d(63vw, 32vh, 14px);
  background: hsl(204, 70%, 50%);
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(4vw, 3vh, 43px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.03;
  height: 6px;
  width: 6px;
  animation-delay: -1.6s;
  transform: translate3d(68vw, 44vh, 49px);
  background: hsl(248, 70%, 50%);
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(76vw, 55vh, 2px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.29;
  height: 6px;
  width: 6px;
  animation-delay: -1.8s;
  transform: translate3d(77vw, 47vh, 21px);
  background: hsl(271, 70%, 50%);
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(80vw, 42vh, 10px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.26;
  height: 9px;
  width: 9px;
  animation-delay: -2s;
  transform: translate3d(35vw, 30vh, 66px);
  background: hsl(359, 70%, 50%);
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(65vw, 10vh, 56px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.44;
  height: 10px;
  width: 10px;
  animation-delay: -2.2s;
  transform: translate3d(61vw, 1vh, 67px);
  background: hsl(72, 70%, 50%);
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(29vw, 65vh, 20px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.05;
  height: 6px;
  width: 6px;
  animation-delay: -2.4s;
  transform: translate3d(2vw, 40vh, 84px);
  background: hsl(298, 70%, 50%);
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(38vw, 34vh, 25px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.44;
  height: 8px;
  width: 8px;
  animation-delay: -2.6s;
  transform: translate3d(49vw, 80vh, 77px);
  background: hsl(210, 70%, 50%);
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(25vw, 2vh, 95px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.1;
  height: 6px;
  width: 6px;
  animation-delay: -2.8s;
  transform: translate3d(16vw, 47vh, 61px);
  background: hsl(212, 70%, 50%);
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(6vw, 57vh, 39px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.88;
  height: 9px;
  width: 9px;
  animation-delay: -3s;
  transform: translate3d(26vw, 65vh, 60px);
  background: hsl(178, 70%, 50%);
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(40vw, 59vh, 59px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.74;
  height: 9px;
  width: 9px;
  animation-delay: -3.2s;
  transform: translate3d(30vw, 20vh, 77px);
  background: hsl(249, 70%, 50%);
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(28vw, 61vh, 62px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.05;
  height: 9px;
  width: 9px;
  animation-delay: -3.4s;
  transform: translate3d(84vw, 53vh, 5px);
  background: hsl(77, 70%, 50%);
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(51vw, 39vh, 17px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.15;
  height: 10px;
  width: 10px;
  animation-delay: -3.6s;
  transform: translate3d(79vw, 5vh, 37px);
  background: hsl(303, 70%, 50%);
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(53vw, 49vh, 28px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.37;
  height: 6px;
  width: 6px;
  animation-delay: -3.8s;
  transform: translate3d(78vw, 28vh, 62px);
  background: hsl(159, 70%, 50%);
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(5vw, 31vh, 17px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.76;
  height: 7px;
  width: 7px;
  animation-delay: -4s;
  transform: translate3d(26vw, 34vh, 69px);
  background: hsl(184, 70%, 50%);
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(82vw, 63vh, 59px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.3;
  height: 10px;
  width: 10px;
  animation-delay: -4.2s;
  transform: translate3d(50vw, 63vh, 2px);
  background: hsl(208, 70%, 50%);
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(69vw, 79vh, 43px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.84;
  height: 8px;
  width: 8px;
  animation-delay: -4.4s;
  transform: translate3d(4vw, 35vh, 78px);
  background: hsl(184, 70%, 50%);
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(57vw, 20vh, 100px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.59;
  height: 8px;
  width: 8px;
  animation-delay: -4.6s;
  transform: translate3d(18vw, 84vh, 88px);
  background: hsl(157, 70%, 50%);
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(84vw, 28vh, 8px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.94;
  height: 6px;
  width: 6px;
  animation-delay: -4.8s;
  transform: translate3d(81vw, 81vh, 58px);
  background: hsl(225, 70%, 50%);
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(57vw, 4vh, 25px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.66;
  height: 7px;
  width: 7px;
  animation-delay: -5s;
  transform: translate3d(89vw, 49vh, 68px);
  background: hsl(255, 70%, 50%);
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(6vw, 86vh, 46px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.12;
  height: 9px;
  width: 9px;
  animation-delay: -5.2s;
  transform: translate3d(10vw, 25vh, 24px);
  background: hsl(112, 70%, 50%);
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(88vw, 63vh, 9px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.87;
  height: 6px;
  width: 6px;
  animation-delay: -5.4s;
  transform: translate3d(24vw, 58vh, 85px);
  background: hsl(274, 70%, 50%);
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(13vw, 70vh, 33px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.9;
  height: 7px;
  width: 7px;
  animation-delay: -5.6s;
  transform: translate3d(58vw, 79vh, 11px);
  background: hsl(248, 70%, 50%);
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(13vw, 67vh, 24px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.97;
  height: 6px;
  width: 6px;
  animation-delay: -5.8s;
  transform: translate3d(3vw, 27vh, 22px);
  background: hsl(147, 70%, 50%);
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(35vw, 8vh, 71px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.5;
  height: 6px;
  width: 6px;
  animation-delay: -6s;
  transform: translate3d(56vw, 55vh, 20px);
  background: hsl(81, 70%, 50%);
}/*# sourceMappingURL=background.css.map */